.detailsCardContainer{
    width: 100%;
    padding: 1.5rem;
}

button a{
    color: #222;
}

.back{
    display: flex;
    width: 100px;
    height: 50px;
    background: transparent;
    text-transform: capitalize;
}

.back span{
    margin-right: 5px;
}

.cardBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border: 2px solid black;
    background: linear-gradient(180deg, #8379f9ba 0%, #5b5b5b 100%);
}

.pokemonCard h2{
    margin: 10px 0;
    text-transform: uppercase;
    color: #fff;
}

.pokemonCard h3{
    text-transform: uppercase;
    color: #fff;
}

.pokemonsprite{
    width: 150px;
    height: 150px;
}

.atributtes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 15px;
}

.atributtes ul{
    margin: 15px 10px;
    color: #fff;
}

.atributtes ul li{
    text-transform: capitalize;
    color: #fff;
}

.buttons_favorites{
    width: 150px;
    height: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    background: linear-gradient(180deg, #001AFF 0%, #777FCB 100%);
    border: 3px solid #000000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.buttons_favorites:hover{
    background: linear-gradient(180deg, #000f95 0%, #51578d 100%);
    transition: 0.2s;
}

.buttons_favorites span{
    margin: 0px 2px;
}

/* Mobile Screen */
@media (max-width: 426px){
    .cardBlock{
        flex-direction: column;
    }
}

/* Mobile S Screen */
@media (max-width: 375px){
    .pokemonCard{
        width: 250px;
    }
}