*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

button{
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

@media (max-width: 375px) {
    *{
        overflow-x: hidden;
    }
}







